input {
    keyboard {
        xkb {
            layout "us"
        }
    }
}

spawn-at-startup "/usr/sbin/waybar"
spawn-at-startup "/usr/sbin/mako"
spawn-at-startup "/usr/sbin/xwayland-satellite"
spawn-at-startup "/usr/sbin/swaybg -c 1e1e2e"
spawn-at-startup "/usr/sbin/kitty"

layout {
    gaps 8
}

prefer-no-csd

binds {
    Mod+Return { spawn "kitty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }
}
